!!!
%html
  %head
    = partial 'partials/head'

  %body{class: page_classes}
    = partial 'partials/nav'

    %header.page-header
      %h1
        %a{href: '/'} Role - Imagine Together
      = partial 'partials/app_store_badge'

    %article.page-content
      = yield

    = partial 'partials/footer'
    = partial 'partials/js'
