%section.page-section
  %nav.press-nav.press-section
    %ul.list-reset
      %li
        %a{href: '#press-fact-sheet'} Fact Sheet
      %li
        %a{href: '#press-description'} Role
      %li
        %a{href: '#press-history'} Company
      %li
        %a{href: '#press-trailer'} Trailer
      %li
        %a{href: '#press-featureimage'} Feature Image
      %li
        %a{href: '#press-screenshots'} Screenshots
      %li
        %a{href: '#press-art'} Art
      %li
        %a{href: '#press-logo'} Logo &amp; Icon
      %li
        %a{href: '#press-team'} Team
      %li
        %a{href: '#press-contact'} Contact

  #press-container
    %section.press-section
      %section#press-fact-sheet.press-section
        %h2 Fact Sheet

        %h3 Developer:
        %p
          The Soap Collective
          %br>
          San Francisco, California

        %h3 Founding Date:
        %p October, 2009

        %h3 Website:
        %p
          %a{href: 'http://www.thesoapcollective.com', target: '_blank'} thesoapcollective.com

        %h3 Press/Business Contact:
        %p
          %a{href: 'mailto:info@thesoapcollective.com'} info@thesoapcollective.com

        %h3 Social:
        %p
          %a{href: 'https://www.twitter.com/roleapp', target: '_blank'} twitter.com/roleapp
          %br>
          %a{href: 'https://www.twitter.com/soapcollective', target: '_blank'} twitter.com/soapcollective
          %br>
          %a{href: 'https://www.facebook.com/roleapp', target: '_blank'} facebook.com/roleapp
          %br>
          %a{href: 'https://www.facebook.com/thesoapcollective', target: '_blank'} facebook.com/thesoapcollective

        %h3 Releases:
        %p Role (2015)

        %h3 Address:
        %p
          2618 Sacramento St.
          %br>
          San Francisco, CA
          %br>
          94115

        %h3 Phone:
        %p +1 (857) 203 1004

      #press-container-inner
        %section#press-description.press-section
          %h2 Role
          %p Based on a simplified tabletop role playing game that Logan wrote in college, Role is an upcoming iOS game focused on collaborative storytelling and face-to-face interaction. It seeks to blend the imagination of games like Dungeons and Dragons with the simplicity of party games like Apples to Apples. Logan and Ian hope that the ease and speed of playing Role will open up tabletop RPGs to a wide range of people who have never enjoyed one before, as well as help existing tabletop players bring their favorite story experiences into more casual situations. While the full iOS release is coming soon, The Soap Collective have made the pen-and-paper rules for Role available online for free, so that anyone can start playing right away. Role is an attempt to bring people together, to use stories to create a truly social game.

        %section#press-history
          %h2 Company
          %p The Soap Collective is a storytelling company based in San Francisco, CA. We believe in using technology and games to bring people together and create meaningful narrative experiences.
          %p Founded by best friends Logan Dwight and Ian Hirschfeld, The Soap Collective officially started in 2009. Having met when they were each 13 years old, Logan and Ian started collaborating on stop-motion films, website ideas, live-action shorts, and games from a young age. They always dreamed of starting their own studio one day and telling bigger stories. In 2009, while still in college, the duo founded The Soap Collective to be the official outlet for all their creative work. College was a busy time, however, and they had to shelve the company until they had more time on their hands. After graduation, Logan and Ian both moved to San Francisco, CA, where they spent 3 years working for various startups and game companies in the Bay Area. Notably, Logan was a web and game designer at Kabam Games for 2 years, and Ian was one of the founding members of the educational site HackDesign.org. In early 2014, they both left their jobs behind to devote their full attention to the rebirth of The Soap Collective. Their first commercial release is Role, a storytelling game for iOS coming in late 2014.

    %section#press-trailer.press-section
      %h2 Trailer
      .video-container
        <iframe width="853" height="480" src="https://www.youtube.com/embed/_h4W4kjlCmU?rel=0" frameborder="0" allowfullscreen></iframe>

    %section#press-featureimage.press-section
      %h2 Feature Image
      %a.press-feature-image{href: '/images/press/Role_Feature_Image.jpg'}<>
        = image_tag 'press/Role_Feature_Image.jpg'
      %a.btn-main{href: '/downloads/Role_Press_Images.zip'} Download Press Images

    %section#press-screenshots.press-section
      %h2 Screenshots
      .press-screenshots
        - data.role.screenshots.each do |image|
          %a.press-screenshot{href: image_path(image.highres_path)}<>
            = image_tag image_path('phone_loading.png'), data: {src: image_path(image.path)}, alt: image.title, class: 'lazy'

    %section#press-art.press-section
      %h2 Art
      .press-screenshots
        - data.role.art.each do |image|
          %a.press-screenshot{href: image_path(image.highres_path)}<>
            = image_tag image_path('plain_loading.png'), data: {src: image_path(image.path)}, alt: image.title, class: 'lazy'
      .press-headshots
        %a.press-headshot{href: '/images/press/highres/Logan_Dwight_headshot.jpg'}<>
          = image_tag '/images/press/Logan_Dwight_headshot.jpg'
        %a.press-headshot{href: '/images/press/highres/Ian_Hirschfeld_headshot.jpg'}<>
          = image_tag '/images/press/Ian_Hirschfeld_headshot.jpg'

    %section#press-logo.press-section
      %h2 Logo and Icon
      %a.press-role-logo{href: '/images/press/Role_Logo.png'}<>
        = image_tag 'press/Role_Logo.png'
      %a.press-role-icon{href: '/images/press/Role_Icon.png'}<>
        = image_tag 'press/Role_Icon.png'
      %a.press-role-icon-round{href: '/images/press/Role_Icon_Round.png'}<>
        = image_tag 'press/Role_Icon_Round.png'
      %br
      %br
      %a.btn-main{href: '/downloads/Role_Press_Images.zip'} Download Press Images

    %section.press-section
      %section#press-team.press-section
        %h2 Role Team

        %h3 Logan Dwight
        %p
          Creative Director, Founder
          %a{href: 'http://www.logandwight.com', target: '_blank'} logandwight.com

        %h3 Ian Hirschfeld
        %p
          Technical Director, Founder
          %a{href: 'http://www.ianhirschfeld.com', target: '_blank'} ianhirschfeld.com

        %h3 Alex May
        %p Executive Producer

        %h3 Blake Sullivan
        %p Executive Producer

        %h3 Mike Ackerman
        %p Artist, Freelance

        %h3 Nick Schumaker
        %p Artist, Freelance

        %h3 Aaron Loftis
        %p Artist, Freelance

        %h3 Robbie Trevino
        %p Artist, Freelance

        %h3 Jedd Chevrier
        %p Artist, Freelance

        %h3 Eli Maffei
        %p Artist, Freelance

      %section#press-contact
        %h2 Contact

        %h3 Inquiries
        %p
          %a{href: 'mailto:info@thesoapcollective.com'} info@thesoapcollective.com

        %h3 Twitter
        %p
          %a{href: 'https://www.twitter.com/roleapp', target: '_blank'} twitter.com/roleapp

        %h3 Facebook
        %p
          %a{href: 'https://www.facebook.com/roleapp', target: '_blank'} facebook.com/roleapp

        %h3 Web
        %p
          %a{href: 'http://www.roleapp.com', target: '_blank'} roleapp.com
          %br>
          %a{href: 'http://www.thesoapcollective.com', target: '_blank'} thesoapcollective.com
